header
    ul
        li: a(href="/") Home
        li: a(href="/api/private" id="private") Private area 
        li: a(href="/api/login") Login
        li: a(href="/api/register") Register
        li: a(href="" id="logout") Logout