body {
  background-image: url("../images/3.jpg");
  padding: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 192, 203, 0.31); }

a {
  padding: 1rem; }
  a:hover {
    color: yellowgreen;
    transition: all 0.5s ease; }

.hidden {
  display: none; }

.links {
  align-content: center; }

.createPost {
  text-align: center;
  display: inline-block; }

/* some simple transitions to make the upvote and downvote
  buttons fade in as a visual cue for the user */
.glyphicon {
  opacity: 1;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out; }

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer; }

.image-to-index {
  background-color: rgba(229, 233, 16, 0.132);
  display: inline-block;
  padding: 15px;
  margin: 20px;
  border-radius: 3px;
  width: 40%;
  height: 40%;
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.image {
  width: 120px;
  height: 120px;
  height: auto;
  float: left;
  margin: 3px;
  padding: 3px; }

.post {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px; }

.post-title {
  font-size: 30px;
  background-color: rgba(233, 16, 175, 0.278);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.createPost {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px;
  width: 100%; }

.mainPageHeader {
  background-color: rgba(16, 67, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.mainPageHeader:hover {
  opacity: 0.75;
  cursor: pointer;
  color: bisque;
  transition: all 0.5s ease-out; }

.links {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.container {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

#buttonLogout {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

#displayEmail {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.post {
  background-color: rgba(16, 190, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.comments-container {
  background-color: rgba(16, 190, 233, 0.277);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

#comment-form {
  background-color: rgba(16, 190, 233, 0.277);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.postcard {
  background-color: rgba(16, 233, 85, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

#error {
  margin: auto;
  width: 70%;
  border-radius: 5px;
  background-color: rgba(192, 20, 66, 0.132);
  padding: 20px; }

.categories {
  background-color: rgba(16, 233, 27, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.ingredients {
  background-color: rgba(233, 16, 175, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.instructions {
  background-color: rgba(38, 16, 233, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.commentsConatiner {
  background-color: rgba(16, 233, 85, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

.commentContainer {
  background-color: rgba(49, 16, 233, 0.132);
  padding: 3px;
  margin: 10px;
  border-radius: 3px; }

.checkboxes {
  background-color: rgba(233, 16, 175, 0.132);
  text-align: center;
  padding: 3px;
  margin: 10px;
  border-radius: 3px; }

.row {
  background-color: rgba(233, 16, 175, 0.132);
  padding: 15px;
  margin: 20px;
  border-radius: 3px; }

#name-text {
  background-color: rgba(233, 16, 175, 0.132);
  border-radius: 3px; }

.file-field-input {
  background-color: rgba(233, 16, 175, 0.132);
  border-radius: 3px;
  padding: 15px; }

.comments {
  background-color: rgba(49, 16, 233, 0.132);
  width: 60%;
  padding: 3px;
  margin: 10px;
  border-radius: 3px; }

.comments-title {
  background-color: rgba(233, 16, 175, 0.132);
  border-radius: 3px;
  padding: 15px; }

.image-to-post {
  background-color: rgba(229, 233, 16, 0.132);
  display: inline-block;
  padding: 15px;
  margin: 20px;
  border-radius: 3px;
  width: 80%;
  height: 80%;
  overflow: hidden; }

.icons {
  margin-top: 0,5rem;
  padding: 0,5rem;
  border-radius: 5px;
  background-color: rgba(255, 228, 196, 0.534);
  max-width: fit-content; }
  .icons a {
    padding: 1rem; }
    .icons a:hover {
      color: magenta;
      transition: all 0.5s ease; }
